/* Font */
body {
    font-family: 'saira', sans-serif;
    justify-content: center;
    display: flex;
    overflow-x: hidden;
}

/* variables */
:root {
    --background-image: url("../assets/images/background-1.jpg");
    --font-color: white;
    --font-color-alt: black;
    --button-background: rgba(255, 255, 255, 0.6);
    --font-weight: normal;
}

.background {
    background-image: var(--background-image);
    z-index: -1;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
}

/* global modal styles */

.modal.show {
    visibility: visible;
}

.modal {
    visibility: hidden;
    border-radius: 35px;
    background: rgba(255, 255, 255, 0.336);
    z-index: 11;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
    position: absolute;
}

.modal-container {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: backdrop-filter opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container.show {
    opacity: 1;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.modal-close-button {
    position: absolute;
    right: 15px;
    top: 15px;
    height: 40px;
    width: 40px;
    padding: 7px;
    border-radius: 50%;
    background: rgba(160, 160, 160, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

.modal-close-button:hover {
    background: rgba(160, 160, 160, 0.5);
}

.modal-close-button:focus {
    background: rgba(78, 78, 78, 0.5);
}

/* individual modal styles */

#wechat-modal img {
    width: auto;
    height: 550px;
}

#wechat-modal {
    display: flex;
}

#email-modal {
    padding: 5px 20px;
    background: rgba(255, 255, 255, 0.637);
    backdrop-filter: blur(10px);
}

#matchatab-modal {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(50px);
    background: rbga(255, 255, 255, 0.6);
    position: relative;
}


.matchatab.images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    overflow: auto;
    gap: 10px;
    padding: 20px;
}

.matchatab.images-container img {
    width: auto;
    height: 300px;
    border-radius: 20px;
}

/* button styles */
.button,
.button:visited {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    align-items: center;
    border: none;
    text-decoration: none;
    background: var(--button-background);
    padding: 10px 10px;
    border-radius: 17px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s ease, color 0.3s ease;
    color: var(--font-color-alt);
    backdrop-filter: blur(5px);
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button.scrolled {
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.button img {
    border-radius: 20px;
    width: auto;
    height: 70px;
    transition: margin-left 0.2s ease;
}

.button.scrolled img {
    margin-left: 5px;
}

.button span {
    text-align: center;
    display: none;
}

.button.scrolled span {
    display: block;
}

/* buttonv2 styles */
.buttonv2,
.buttonv2:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 17px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s ease, color 0.3s ease;
    color: white;
    background: rgba(0, 0, 0, 0.757);
    backdrop-filter: blur(5px);
    overflow: hidden;
    width: fit-content;
    padding: 10px 50px;
}

/* social section */
.social-section {
    display: flex;
    gap: 10px;
    height: fit-content;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 40px;
}

.social-section.scrolled {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-auto-rows: 100px;
}

/* quick link section */
.quick-link-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-auto-rows: 100px;
    gap: 10px;
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 40px;
}

.outer-container {
    max-width: 550px;
    width: 80vw;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top: 0px;
    border-radius: 35px 35px 0 0;
    margin-top: calc(100vh - 370px);
    transition-property: background, box-shadow;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-behavior: smooth;
    position: relative;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: none;
}

.outer-container.scrolled {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 20px rgba(38, 38, 38, 0.818);
    backdrop-filter: blur(30px);
}

#scroll-up-text {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: filter 0.5s, top 0.2s;
}

#scroll-up-text.scrolled {
    filter: blur(10px);
    top: -100px;
}

#scroll-up-text svg {
    fill: white;
}

.font-color {
    color: var(--font-color);
    transition: color 0.3s ease;
}

.font-weight {
    font-weight: var(--font-weight);
}

/* header section */
.header-section {
    background: rgba(0, 0, 0, 0.497);
    padding: 10px 30px;
    border-radius: 17px;
    backdrop-filter: blur(10px);
    text-align: justify;
    transition: padding 0.3s ease, text-align 0.3s ease, background 0.3s ease;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header-section.scrolled {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: none;
    padding: 5px 0px;
    text-align: left;
    box-shadow: none;
}

.blur-overshoot.animate-in {
    animation: blur-overshoot-in 0.25s;
}

.blur-overshoot.animate-out {
    animation: blur-overshoot-out 0.25s;
}

/* animation keyframes */

@keyframes blur-overshoot-in {
    0% {
        filter: blur(0px);
    }

    50% {
        filter: blur(3px);
    }

    100% {
        filter: blur(0px);
    }
}

@keyframes blur-overshoot-out {
    0% {
        filter: blur(0px);
    }

    50% {
        filter: blur(2px);
    }

    100% {
        filter: blur(0px);
    }
}